<script src="https://unpkg.com/headjs@1.0.3/dist/1.0.0/head.min.js"></script>
<script src="https://unpkg.com/reveal.js@3.6.0/js/reveal.js"></script>
<script>
	// Full list of configuration options available at:
	// https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
		controls: true,
		progress: true,
		history: true,
		center: true,

		transition: 'slide', // none/fade/slide/convex/concave/zoom

		// Optional reveal.js plugins
		dependencies: [
			// { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
			// Interpret Markdown in <section> elements
			{ src: 'https://unpkg.com/reveal.js@3.6.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: 'https://unpkg.com/reveal.js@3.6.0/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: 'https://unpkg.com/reveal.js@3.6.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
			{ src: 'https://unpkg.com/reveal.js@3.6.0/plugin/zoom-js/zoom.js', async: true },
			{ src: 'https://unpkg.com/reveal.js@3.6.0/plugin/notes/notes.js', async: true }
		]
	});

</script>
	<!-- Socket.io client-->
	<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>
</body>
</html>
